<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snmlm.dao.UserMapper">

    <!-- 二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="BaseResultMap" type="userDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <association property="authorityDto" column="authorityId" javaType="authorityDto" select="selectAuthority"/>
    </resultMap>

    <select id="selectUserAuthority" resultMap="BaseResultMap">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="selectAuthority" resultType="authorityDto">
        select * from mybatis.authority where id = #{id}
    </select>

    <sql id="Base_Column_List" >
        id,name,age,pwd
    </sql>
    <sql id="WhereById" >
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <insert id="insert" parameterType="userDto">
        insert into mybatis.user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null">
               #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimary" parameterType="java.lang.Integer">
        delete from mybatis.user where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByObject" parameterType="userDto">
        delete from mybatis.user
        <where>
            <trim prefixOverrides="and|or">
                <if test="id != null">
                    and id = #{id,jdbcType=INTEGER}
                </if>
                <if test="name != null">
                    and name = #{name,jdbcType=VARCHAR}
                </if>
                <if test="age != null">
                    and age = #{age,jdbcType=INTEGER}
                </if>
                <if test="pwd != null">
                    and pwd = #{pwd,jdbcType=VARCHAR}
                </if>
            </trim>
        </where>
    </delete>
    <update id="updateByObject" parameterType="userDto">
        update mybatis.user
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="age != null">
                    age = #{age,jdbcType=INTEGER},
                </if>
                <if test="pwd != null">
                    pwd = #{pwd,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        <include refid="WhereById"/>
    </update>
    <select id="findListByObject" resultType="userDto" parameterType="userDto">
        select
        <include refid="Base_Column_List"/>
        from mybatis.user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="age != null">
                and age = #{age,jdbcType=INTEGER}
            </if>
            <if test="pwd != null">
                and pwd = #{pwd,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>
